.faq-wrapper {
  background-color: black;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 8px solid #232323; */
  padding: 4.5rem 0;
}

.faq-wrapper .faq {
  width: 100%;
  max-width: calc(66.66666666666666% - 6rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-wrapper .faq h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 12px;
}

.faq-wrapper .faq .collapsible-container {
  width: 100%;
}

.faq-wrapper .faq .collapsible-container .collapsible-input {
  display: none;
}

.faq-wrapper .faq .collapsible-container .collapsible-label {
  background-color: rgb(45, 45, 45);
  cursor: pointer;
  padding: 24px;
  border: 6px solid black;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  align-items: center;
}

.faq-wrapper .faq .collapsible-container .collapsible-label:hover,
.faq-wrapper .faq .collapsible-container .collapsible-label:active {
  background-color: #4d4b4b;
  transition-duration: 300ms;
}

.collapsible-input:checked + .collapsible-label:after {
  content: "";
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="white"></path></svg>');
  background-size: contain;
  transform: rotate(-45deg);
}

.collapsible-label:after {
  content: "";
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="white"></path></svg>');
  background-size: contain;
}

.faq-wrapper .faq .collapsible-container .content > p {
  font-size: 1.5rem;
}

.faq-wrapper .faq .collapsible-container .content {
  /* padding: 0 30px; */
  padding: 1.5rem;
  display: none;
  overflow: hidden;
  background-color: rgb(45, 45, 45);
  /* font-size: 26px; */
  font-weight: 500;
  margin-top: -5px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 5px;
}

.collapsible-input:checked + .collapsible-label + .content {
  display: block;
}

.faq-wrapper .faq .email {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  /* margin-bottom: 40px; */
}

.faq-wrapper .faq .email > label {
  margin: 30px 0;
}

.faq-wrapper .faq .email label h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.faq-wrapper .faq .email .email_and_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.faq-wrapper .faq .email .email_and_button input[type="email"] {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  width: 33em;
}

.faq-wrapper .faq .email .email_and_button input::placeholder {
  color: rgba(255, 255, 255, 0.722);
  font-size: 1rem;
}

.faq-wrapper .faq .email .email_and_button input[type="email"]:focus {
  border: 3px solid white;
}

.faq-wrapper .faq .email .email_and_button input[type="email"]:valid,
.faq-wrapper .faq .email .email_and_button input[type="email"]:focus {
  border: 2px solid green;
  background-color: rgba(0, 0, 0, 0.35);
}

.faq-wrapper .faq .email .email_and_button input[type="email"] :invalid {
  border: 2px solid #e50914;
}

.faq-wrapper
  .faq
  .email
  .email_and_button
  input[type="email"]:empty
  ~ .email_message_wrong {
  display: none;
}

/*input[type="email"] :invalid .email_message_wrong{
    display:block;
  
  }*/

/*.email_message_wrong{
    display:none;
  }*/

.faq-wrapper .faq .email .email_and_button .email_button {
  background-color: #e50914;
  color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  cursor: pointer;
  width: 100%;
  max-width: 132px;
  height: 57px;
  transition: 0.3s;
}

.faq-wrapper .faq .email .email_and_button .email_button:hover,
.faq-wrapper .faq .email .email_and_button .email_button:active {
  background-color: rgb(185, 21, 21);
}

.faq-wrapper .faq .email .email_and_button .email_svg1 {
  display: flex;
  justify-content: center;
}
