@media only screen and (max-width: 820px) {
    .f-container {
        max-width: calc(100% - 4rem);
        padding: 0;
      }
    
      /* .options {
        /* min-width: max-content;
      } */
    
      .callcenter {
        margin-bottom: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.75rem;
      }
    
      .callcenter a {
        font-size: 1rem;
        font-weight: 400;
      }
    
      .list-questions {
        margin-bottom: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    
      .links-container {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    
      .links-container li {
        padding-right: 6px;
      }
    
      .links {
        font-size: 14px;
      }
    
      .custom-select {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }
    }
    
    @media only screen and (max-width: 360px) {
        .f-container {
            max-width: calc(100% - 3rem);
          }
        
          .links-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 13px;
          }
        
          .custom-select .choselanguage {
            display: initial;
          }
        }