.header-container {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0.358) 60%,
      rgb(0, 0, 0) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/00103100-5b45-4d4f-af32-342649f1bda5/d92b272e-452f-4478-be00-c1cf7d6ea8d1/IT-it-20230821-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130%;
  position: relative;
}

.header-container .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 19vw;
  height: 4vw;
}

.header-container .navbar .logo-left a img {
  width: 10rem;
}

/* <------- MENU RIGHT -------> */
.header-container .navbar .menu-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container .navbar .menu-right .login a {
  display: inline-flex;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  padding: 7px 17px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.header-container .navbar .menu-right .login a:hover {
  cursor: pointer;
  transition: 0.3s;
  background: rgb(193, 17, 25);
}

.header-container .navbar .menu-right .language-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px 17px;

  margin-right: 25px;
}

.header-container
  .navbar
  .menu-right
  .language-container
  .language-selector
  select {
  font-size: 1.1rem;
}

.header-container .navbar .menu-right .language-container .world-icon svg {
  color: white;
  display: block;
}

.header-container
  .navbar
  .menu-right
  .language-container
  .language-selector
  select {
  border-style: none;
  background-color: transparent;
  color: white;
}

/* <------- HERO CONTAINER -------> */
.hero-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  z-index: 10;
  height: 86%;
  padding: 185px;
}

.hero-container .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  /* margin-bottom: 49px; */
}
.hero-container .description {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vw;
}

.hero-container .description h1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.hero-container .description p {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.hero-container .description p:last-of-type {
  font-size: 1.24rem;
  font-weight: 400;
  color: white;
}

.hero-container .form-header {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.hero-container .form-header .sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.hero-container .form-header .sign-up input[type="email"] {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 320px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.hero-container .form-header .sign-up input::placeholder {
  color: rgba(255, 255, 255, 0.722);
  font-size: 1rem;
}

.hero-container .form-header .sign-up input[type="email"]:focus {
  border: 3px solid white;
}

.hero-container .form-header .sign-up input[type="email"]:valid,
.hero-container .form-header .sign-up input[type="email"]:focus {
  border: 2px solid green;
}

.hero-container .form-header .sign-up input[type="email"] :invalid {
  border: 2px solid #e50914;
}

.hero-container
  .form-header
  .sign-up
  input[type="email"]:empty
  ~ .email_message_wrong {
  display: none;
}

.hero-container .form-header .sign-up button {
  background-color: #e50914;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 132px;
  height: 60px;
  transition: 0.3s;
}

.hero-container .form-header .sign-up button:hover,
.hero-container .form-header .sign-up button:active {
  cursor: pointer;
  transition: 0.3s;
  background: rgb(193, 17, 25);
}
.hero-container .form-header .sign-up .email_svg1 {
  display: flex;
  justify-content: center;
}

/* BANNER */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;

  position: relative;
  z-index: 30;
  width: 94vw;
  margin-top: -5rem;

  padding: 26px;
  border-radius: 5px;
  color: white;

  background: radial-gradient(
    51.39% 511.66% at 47.68% -217.91%,
    #ff9900 0%,
    #e50914 17.27%,
    #0e1b4f 79.44%,
    #000413 100%
  );
  background-attachment: fixed;
  background-size: cover;
}

.banner-container .banner {
  display: flex;
}

.banner-container .banner .description {
  text-align: left;
  padding-left: 52px;
}

.banner-container .banner .description h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.banner-container .banner .description p {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 8px;
  line-height: 24px;
}

.banner-container .banner .description a {
  font-weight: bolder;
  color: #4c72e2;
  font-size: 16px;
}
